:root {
  --color: #2c2c2c;
  --bg-color: #ffffff;
  --bg-input-disabled: #e9ecef;
  --my-orange: rgb(0, 82, 204); /* #f96332 */
}

body {
  color: var(--color);
  background-color: var(--bg-color);
}

a {
  color: var(--color);
  text-decoration: none;
}

a:focus, a:hover {
  color: var(--color);
  text-decoration: underline;
}

a.orange, a.orange:focus, a.orange:hover {
  color: var(--my-orange);
}

.bg-secondary {
  /*background-color: var(--my-orange) !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);*/
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(255,255,255);
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: rgb(255, 255, 255);
}

/*
.btn-secondary {
  background-color: var(--my-orange) !important;
  border-color: var(--my-orange);
}

.btn-secondary:hover {
  border-color: #fa7a50;
  background-color: #fa7a50 !important;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.17);
}

.btn-secondary:active {
  border-color: #fa7a50;
  background-color: #fa7a50 !important;
  box-shadow: none;
}

.btn-secondary:focus {
  border-color: #fa7a50;
  background-color: #fa7a50 !important;
  box-shadow: none;
}
*/

.col-form-label {
  font-size: 0.8rem;
}

.border {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.card {
  border: 0;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card.lesson {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: none;
  margin-bottom: 0;
  font-size: .8rem;
  cursor: pointer;
}

.card.lessonbig {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: none;
  margin-bottom: 0;
}

.list-group {
  /*box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);*/
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

/* Lesson colors */
.bg-green {
  background-color: green !important;
  color: white !important;
}

.bg-blue {
  background-color: blue !important;
  color: white !important;
}

.bg-red {
  background-color: red !important;
  color: white !important;
}

.bg-yellow {
  background-color: #F7E007 !important;
  /*color: white !important;*/
}

.bg-brown {
  background-color: brown !important;
  color: white !important;
}

.bg-grey {
  background-color: grey !important;
  color: white !important;
}

.bg-teal {
  background-color: teal !important;
  color: white !important;
}

.bg-purple {
  background-color: purple !important;
  color: white !important;
}

.bg-lightgrey {
  background-color: lightgrey;
}

.details-box {
  background-color: #efefef;
  color: var(--color);
}

.lesson-details {
  color: var(--color);
}

.checkmark-ok {
  content: '✓'; /* '&#10003;';*/
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.checkmark-ok-grey {
  content: '✓'; /* '&#10003;';*/
  font-weight: bold;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid;
}

.checkmark-missing {
  content: '⨯'; /* '&#10799;';*/
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}


.modal-content, .card {
  color: var(--color);
  background-color: var(--bg-color);
  border: 1px solid #ffffff;
}

.form-control:disabled, .form-control[readonly] {
  color: var(--color);
  background-color: var(--bg-input-disabled);
}

input.form-control {
  /*
  background-color: transparent;
  /*border: 1px solid #E3E3E3;*/
  /*border-radius: 30px;*/
  /*
  color: var(--color);
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  */
}

input.form-control.board-form {
  border-radius: .25rem;
}

.form-control:focus {
  border: 1px solid var(--my-orange);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
}

.theme-row {
  cursor: pointer;
}

.theme-row-selected {
  cursor: pointer;
  background-color: lightcyan;
  color: #2c2c2c;
}

.theme-row-thumbnail {
  max-width: 100px;
}

/* Additional styles for views */

.form-listitem-addimg {
  height: 30px;
  width: 38px;
}

.welcome-addonbox {
  flex-wrap: wrap;
}

.welcome-addonbox-helper {
  height: 44px;
  width: 200px;
}

.loginform-card {
  width: 25rem;
}

.content-listandform {
  border: 1px solid lightgrey;
}

.navi-current-theme {
  font-size: 66%;
}

.navi-onoff {
  border: none;
  background-color: transparent;
}

.supersmall {
  font-size: 66%;
  color: #6c757d;
}

.board-bg {
  background: url('/public/autumnleaves_light_ds.jpg');
}

.board-frame {
  overflow-x: scroll;
  min-height: 75vH;
}

.board-column {
  width: 220px;
  overflow: hidden;
}

.board-card {
  width: 220px;
  overflow: hidden;
}

.board-header {
  width: 220px;
  overflow: hidden;
  cursor: pointer;
}

.ui-sortable-placeholder {
  min-width: 220px;
}


/*** All new styles for TeamWork-DS ***/

.project-board-headline .btn {
  border-radius: 50%;
}

.project-board-headline .btn[aria-expanded="false"] {
    transform: rotate(90deg);
}

.project-board-headline .btn {
    transition: transform 0.35s ease;
    transform: rotate(0deg);
    /*transform-origin: .5em 50%;*/
}

/*** FullCalendar CSS overwrites ***/

.fc .fc-button {
  font-size: .75rem;
}

.fc .fc-toolbar-title {
    font-size: 1.25em;
    margin: 0;
}

/*** SideMenu Styles ***/

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #cfe2ff;
}
.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #cfe2ff;
}
.btn-toggle-nav a.active {
  font-weight: bold;
}
.fw-semibold { font-weight: 600; }
.main {
  display: flex;
  flex-wrap: nowrap;
  height: 90vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#docs-sidebar {
  width: 280px;
  transition: 0.5s;
}
#all-inside {
  display: block;
  transition: 0.3s;
  overflow: auto;
}

.trumbowyg-box, .trumbowyg-editor {
  min-height: 75vH;
  border-bottom: none;
}
